## 读取数据

In [25]:
import warnings
warnings.filterwarnings("ignore")
import matplotlib.pyplot as plt
import numpy as np
from sklearn import metrics
import seaborn as sns
import matplotlib
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
plt.rcParams['figure.dpi'] = 150 # 修改图片分辨率
plt.rcParams.update({'font.size': 18})
plt.rcParams['font.family'] = 'sans-serif'
plt.rcParams['font.sans-serif'] = ['Helvetica Neue']
import matplotlib.pyplot as plt

In [26]:
# Load the data
data = pd.read_excel('./P0022023-study2.xlsx')

# 删除 'Cluster' 列中等于 3 的行
data= data[data['Label'] != 3]

data
exclusive = ['Label']
data[ exclusive] = data[ exclusive].fillna(-1)
data = data.drop(columns=['ID'])
data # display the first few rows of the processed data

    Subtype I Baseline  Subtype II Baseline  Label  Group
0             0.792498             0.207502      0      1
1             0.144166             0.855834      1      1
2             0.256416             0.743584      1      1
3             0.341691             0.658309      1      1
4             0.216101             0.783899      1      1
..                 ...                  ...    ...    ...
80            0.936835             0.063165      0      0
82            0.033119             0.966881      1      0
83            0.728281             0.271719      0      0
84            0.792439             0.207561      0      0
85            0.195013             0.804987      1      0

[78 rows x 4 columns]

## 数据不平衡数据

In [27]:
df=data
df[exclusive] = df[exclusive].fillna(-1)
cols=[i for i in df.columns if i not in ['Group']]
X=df[cols]
y=df['Group']

from collections import Counter
print(sorted(Counter(y).items()))
from imblearn.over_sampling import SMOTE, ADASYN

X_resampled, y_resampled = SMOTE(sampling_strategy=0.5, random_state=1).fit_resample(X, y)
# 打印处理之前的类别人数
print("处理之前的类别人数:")
print(y.value_counts())

[(0, 11), (1, 67)]
处理之前的类别人数:
1    67
0    11
Name: Group, dtype: int64

In [28]:
from collections import Counter
print(sorted(Counter(y_resampled).items()))

[(0, 33), (1, 67)]

In [29]:
import pickle
# 保存这些变量到文件：X_resampled，y_resampled和cols_select
with open('data/variables-huafen.pkl', 'wb') as file:
    pickle.dump((X_resampled, y_resampled), file)


# 将数据保存为 Excel 文件
if isinstance(X_resampled, pd.DataFrame) or isinstance(X_resampled, pd.Series):
    X_resampled.to_excel('table/X_resampled.xlsx')

if isinstance(y_resampled, pd.DataFrame) or isinstance(y_resampled, pd.Series):
    y_resampled.to_excel('table/y_resampled.xlsx')

In [30]:
X_resampled

    Subtype I Baseline  Subtype II Baseline  Label
0             0.792498             0.207502      0
1             0.144166             0.855834      1
2             0.256416             0.743584      1
3             0.341691             0.658309      1
4             0.216101             0.783899      1
..                 ...                  ...    ...
95            0.711558             0.288442      0
96            0.445395             0.554605      0
97            0.939779             0.060221      0
98            0.698425             0.301575      0
99            0.940945             0.059055      0

[100 rows x 3 columns]

### 模拟输入

In [31]:
import pickle
from sklearn.model_selection import train_test_split
exclusive = ['Label']
with open('./data/variables-huafen.pkl', 'rb') as file:
    X_resampled, y_resampled = pickle.load(file)
X , y = X_resampled,y_resampled
X

    Subtype I Baseline  Subtype II Baseline  Label
0             0.792498             0.207502      0
1             0.144166             0.855834      1
2             0.256416             0.743584      1
3             0.341691             0.658309      1
4             0.216101             0.783899      1
..                 ...                  ...    ...
95            0.711558             0.288442      0
96            0.445395             0.554605      0
97            0.939779             0.060221      0
98            0.698425             0.301575      0
99            0.940945             0.059055      0

[100 rows x 3 columns]

In [32]:
print("预处理全部完成！")

预处理全部完成！